/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1024px) and (min-width : 992px) {
	
	.header-page-main .right-block .button-transparent {
		float: left;
	}
	
	
	
}




/* Large Devices, Wide Screens */

@media only screen and (max-width : 1250px) {
	.main-rooms .prev-room {
		left: 50px;
	}
	.main-rooms .next-room {
		right: 50px;
	}
	.main-rooms .description-block {
		margin-left: 90px;
	}
}


@media only screen and (max-width : 1200px) {



	.main-rooms .description-block {

		margin-top: 170px;

	}
.footer-other-page .footer-menu-line .logo-block img {
    float: none;
    margin: 0 auto -42px auto;
    display: block;
}


	.sidebar .form-block input[type="text"] {

		padding: 10px;

		text-align: center;

	}



	.list-galery li {

		height: 282px;

		margin-right: 47px;

		margin-bottom: 47px;

	}



	.footer-other-page .footer-contacts-line .call-us span {

		font-size: 18px;

		line-height: 22px;

	}



	.footer-other-page .footer-menu-line .menu {

		display: none;

	}



	.header-page-main .menu {

		display: none;

	}



	.mobile-block {

		display: block;

	}



	.main-slider-block .owl-nav {

		width: 100%;

		left: 0;

		margin-left: 0;

	}



	.main-slider-block .owl-nav .owl-next {

		right: 60px;

	}



	.main-slider-block .owl-nav .owl-prev {

		left: 60px;

	}



	.main-slider-block .description-block {

		width: 100%;

		left: 0;

		margin-left: 0;

		bottom: auto;

		top: 100px;

		text-align: center;

		padding: 0 100px;

	}



	.main-slider-block .description-block p {

		text-align: center;

	}



	.main-slider-block .description-block img {

		display: inline !important;

	}

.mobile-block {
    display: block;
    float: left;
    position: relative;
    top: 22px;
    margin-right: 20px;
}
	.header-page-main .left-block {
    float: left;
    width: 56%;
}
	.header-page-main .left-block .description-logo{
		float: none;
	}
	

}







/* Medium Devices, Desktops */


@media (max-width: 1366px) and (orientation: landscape) {
	.panorama-block {
    background-attachment: scroll;
}
}
@media only screen and (max-width : 1024px) {
	.panorama-block {
    background-attachment: scroll;
}
}
@media only screen and (max-width : 992px) {

	.main-rooms {
		min-height: 150vh;
	}

	.main-rooms .prev-room,

	.main-rooms .next-room {

		background-size: 20px auto;

		width: 20px;

		height: 38px;

		margin-top: -19px;

		left: 20px;

	}



	.main-rooms .next-room {

	    left: auto;

	    right: 20px;

    }



	.main-rooms .description-block {

    	width: 100%;

    	margin-top: 300px;

		padding: 0 30px;
		margin-left: 0;

    }



	.list-galery li {

	    height: 216px;

	    margin-right: 36px;

	    margin-bottom: 36px;

	}



	.header-banner-block .title-header-block .title {

		font-size: 20px;

		line-height: 25px;
    text-align: center;

	}



	.header-banner-block .title-header-block {

		margin-top: 270px;

	}



	.header-page-main {

		position: absolute;

	}



	.footer-development-line .row {

		display: flex;

		-webkit-flex-direction: row;

		    -ms-flex-direction: row;

		        flex-direction: row;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

	}



	.footer-development-line .developed-in {

		margin-bottom: 20px !important;

	}



	.footer-development-line .row .col-md-6:nth-child(1) {

		width: 100%;

		/*-webkit-order: 2;

		    -ms-order: 2;

		        order: 2;*/

	}



	.footer-development-line .row .col-md-6:nth-child(2) {

		width: 100%;

		/*-webkit-order: 1;

		    -ms-order: 1;

		        order: 1;*/

	}



	.footer-other-page .footer-menu-line .logo-block {

		margin-top: 10px;
    float: none;
    width: 100%;

	}



	.footer-other-page .footer-contacts-line .call-us {

		padding-top: 20px;

	}



	.footer-other-page .footer-contacts-line .call-us span {

		display: block;

	}



	.footer-other-page .footer-contacts-line .col-md-3 {

		margin-bottom: 10px;

	}



	.footer-other-page .footer-contacts-line dt,

	.footer-other-page .footer-contacts-line dd,

	.footer-other-page .footer-contacts-line dd a {

		text-align: center;

	}

	.ancLinks.toBottom.desctop-arrow,
	.ancLinks.toBottom.mobile-arrow,
	.main-slider-block .desctop-slider,
	.main-slider-block .mobile-slider {
		
		display: none !important;

	}
	
	
	
	.ancLinks.toBottom.tablet-arrow,
	.main-slider-block .tablet-slider {

		display: block !important;

	}
	.main-slider-block .tablet-slider .owl-item img {
		width: auto;
	}



	.main-slider-block .description-block {

		width: 100%;

		left: 0;

		margin-left: 0;
		top: 50%;
    	transform: translateY(-50%);

	}



	.Ñhef {

		min-height: auto !important;

		padding-top: 40px;

	}



	.portrait-block {

		margin-bottom: 40px;

	}



	.header-page-main .left-block {

		float: none;

		overflow: hidden;

	}



	.header-page-main .right-block .phones-block {

		float: none;

	}



	.header-page-main .left-block .logo-block {

		float: none;

		margin-right: 0;

		text-align: center;

	}



	.header-page-main .left-block .description-logo {

		float: none;

		text-align: center;
    margin-top: -35px;

	}



	/* .header-page-main .left-block .description-logo br {

		display: none;

	} */



	.mobile-block {

		position: fixed;

		top: 40px;

	}



	.header-page-main .right-block {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

		text-align: center;

		-webkit-justify-content: center;

		            justify-content: center;   
    flex-direction: column; 

	}



	.header-page-main .right-block .button-transparent {

		-webkit-order: 2;

		    -ms-order: 2;

		        order: 2;

	   	float: none;
		
		width: 160px;
    margin: 0 auto;

	}



	.header-page-main .right-block .phones-block {

		-webkit-order: 1;

		    -ms-order: 1;

		        order: 1;


	    text-align: center;
		margin: 15px auto;
    text-align: center;
    width: 285px;
    white-space: nowrap;
    padding: 0;

	}

.white-title-first {
    margin-top: 100px;
}

.socials {
    display: none;
}
.socials-mobile {
    padding: 10px 17px;
    display: flex !important;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    width: 346px;
    margin: 0 auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 1;
}
.socials-mobile li {
    margin: 6px 12px 6px 0 !important;
    vertical-align: middle;
}
.socials-mobile li a {
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.header-page-main .left-block {
    width: 100%;
}
}







/* Small Devices, Tablets */



@media only screen and (max-width : 768px) {

	.text-photo .photo-right img,
	.photo-text .photo-left img {
		padding-top: 20px;
	}

	#sixBlock p {

		text-align: center;

	}



	.main-index .panorama-block:first-child .content-block {
		
		min-height: 570px;
		
	    margin-top: 200px;
		
		text-align: center;
	}
	
	.main-index .panorama-block:first-child .content-block * {
		text-align: center;
	}


	#ninBlock {

		padding-top: 40px;

	}



	#frthBlock .toBottom {

	    bottom: -20px;

	}



	#frthBlock {

		padding-bottom: 40px;

	}



	.toBottom:focus, .toBottom {

		bottom: 20px;

	}



	.panorama-block .content-block {

		min-height: 900px;

	}
	.footer-main-page.panorama-block .content-block {
		min-height: 650px;
	}



	.list-galery {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

		-webkit-flex-direction: row;

		    -ms-flex-direction: row;

		        flex-direction: row;

		webkit-justify-content: space-between;

		justify-content: space-between;

	}



	.list-galery li {

		width: 48%;

		margin-bottom: 20px;

		margin-right: 0;

	}



	.photo-text {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

		-webkit-flex-direction: row;

		    -ms-flex-direction: row;

		        flex-direction: row;

	}
	.text-photo.vertical, .photo-text.vertical {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

		-webkit-flex-direction: row;

		    -ms-flex-direction: row;

		        flex-direction: row;

	}



	.photo-text .photo-left {

		-webkit-order: 2;

		    -ms-order: 2;

		        order: 2;

	}



	.photo-text .text-right {

		-webkit-order: 1;

		    -ms-order: 1;

		        order: 1;

	}



	.text-photo .text-left,

	.text-photo .photo-right,

	.photo-text .photo-left,

	.photo-text .text-right {

		float: none;

		width: 100%;

		padding: 0;

	}



	.hers-logo {

		width: 100%;

	}



	.main-index .panorama-block .content-block.content-block-first-block {

		padding-top: 40px;

	}
	
	.main-index .panorama-block .content-block.content-block-first-block > img {
		margin: 0 auto;
	}



	.white-title-first {

		font-size: 40px;

		line-height: 50px;

	}



	.panorama-block {

	    background-attachment: scroll;

	}

	.block-photo-description .descitpion p {
		font-size: 14px;
	}
	
	.block-photo-description .descitpion-middle {
		position: relative;
		transform: none;
		bottom: 0;
		left: 0;
		margin: 0;
		width: 100%;
    	max-width: fit-content;
	}
.white-title-first {
    margin-top: 0;
}
}



@media only screen and (max-width : 600px) {


	.ancLinks.toBottom.desctop-arrow,
	.ancLinks.toBottom.tablet-arrow,
	.main-slider-block .desctop-slider,

	.main-slider-block .tablet-slider {

		display: none !important;

	}


	.ancLinks.toBottom.mobile-arrow,
	.main-slider-block .mobile-slider {
		
		display: block !important;
		
	}
	
	.main-slider-block .mobile-slider .owl-item img {
		width: auto;
	}
	


	.main-slider-block .owl-nav .owl-prev,

	.main-slider-block .owl-nav .owl-next {

		height: 36px;

		width: 20px;

		left: 50px;

		background-size: 20px auto !important;

	}



	.main-slider-block .owl-nav .owl-next {

	    right: 50px;

	    left: auto;

	}



	.main-slider-block .description-block {

		padding: 0 75px;

	}



}







/* Extra Small Devices, Phones */



@media only screen and (max-width : 480px) {



	.main-rooms .description-block {

	    margin-top: 340px;

	}



	.list-galery li {

		width: 100%;

	}
	.header-page-main .right-block .phones-block a {
		font-size: 18px;
	}
	.white-title-first {
	    font-size: 24px;
	    line-height: 34px;
	    margin-bottom: 25px
	}
	.socials-mobile {
	    width: 260px;
	    display: block !important;
	    text-align: center;
	}
	.socials-mobile li {
	    display: inline-block;
	}
	.socials li:nth-child(1) {
	    position: relative;
	    top: 5px;
	}
	.list-galery.breakfast-list.menu-list li{
		margin-bottom: 90px;
	}
}

@media only screen and (max-width : 375px) {
	.button-transparent{
		min-width: 100px;
	}
	.panorama-block.footer-main-page address{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.panorama-block.footer-main-page .white-paragraph-first{
		padding-bottom: 0;
	}
	.panorama-block .content-block p {
		margin-bottom: 0px;
	}
}






/* Custom, iPhone Retina */



@media only screen and (max-width : 320px) {







}











/*==========  Mobile First Method  ==========*/







/* Custom, iPhone Retina */



@media only screen and (min-width : 320px) {







}







/* Extra Small Devices, Phones */



@media only screen and (min-width : 480px) {







}







/* Small Devices, Tablets */



@media only screen and (min-width : 768px) {







}







/* Medium Devices, Desktops */



@media only screen and (min-width : 992px) {







}







 /* Large Devices, Wide Screens */



@media only screen and (min-width : 1200px) {







}